.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}

.content {
    width: 50%;
}

.avatar-box img {
    width: 300px;
    border-radius: 10px;
}